html,
main,
body,
#root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

p,
a {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: "Archivo Black", sans-serif;
}

:root {
    --corDestaque1: #00437a;
    --corDestaque2: #a8cf45;
    --corJanela: white;
    --corBackgroundJanela: rgb(208, 217, 220);
}


/* Container padrão para tabelas com rolagem */
.table-container {
    max-height: 400px;
    /* altura máxima visível */
    overflow-y: auto;
    /* ativa rolagem vertical */
}

/* Estilo base para todas as tabelas */
table {
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Cabeçalho fixo */
table thead th {
    position: sticky;
    top: 0;
    background: var(--corDestaque1);
    color: white;
    z-index: 2;
}

/* Células */
table th,
table td {
    border: none;
    margin: 0;
    padding: 5px;
    background: none;
    font: inherit;
    color: inherit;
    text-align: left;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

table tr {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    /* cursor: pointer; */
    transition: background-color ease-in-out 0.1s;
}

table tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}